@model forgetpassworddto
@{
    ViewData["Title"] = "forgetpassword";
    Layout = "~/Views/Shared/accountlayout.cshtml";
}
@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
<h1>resetpassword</h1>
<form asp-action="sendemail">
<input class="form-control" placeholder="enter your email to reset your password" asp-for="email"></input>
<input type="submit" value="resetpassword"></input>
</form>
