@model resetdto
@{
    ViewData["Title"] = "resetpassword";
    Layout = "~/Views/Shared/accountlayout.cshtml";
}

<h1>resetpassword</h1>

<form asp-action="resetpassword">
    <input class="form-control" placeholder="enter your email to reset your password" asp-for="password"></input>
	<input class="form-control" placeholder="enter your email to reset your password" asp-for="confirmpassword"></input>
    <input type="submit" value="resetpassword"></input>
</form>